:root{
    /*--principal: #480355;*/
    /*--principal: #695be6*/
    --botones: #440088;
    --purpura: #480355;;
    --morado: #9448BC;    
    --azul: #7699D4;
    --azulito: #90FCF9;
    --gris: #ebebeb;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

/* Globales */
body{
    background: #f3f3f3;
}

html{
    /*font-size: 62.5%;*/
    box-sizing: border-box;
    /*background-color: var(--gris);*/
}

.titulo{
    text-align: left;
    font-size: 3.8rem;
}

/*utilidades*/
.alinear-derecha{
    justify-content: flex-end;
}


.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) { 
    .w-sm-100{
        width: auto;
    }    
}

.flex{
    display: flex;
}

header{
    display: flex;
    height: 7rem;
    background-color: var(--purpura);
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    font-size: 1.8rem;
    
}

span{
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

/*Navegacion logo (inicio) / Barra de busqueda / Usuario y Carrito*/
/* Navegacion principal */
.navbar{
    display: flex;
    position: center;
    justify-content: center;
    float: none;
    flex-flow: wrow nowrap;
    height: 7rem;
    background-color: var(--purpura);
    color: white;
}
/*Logo*/
.logo{
    margin-left: 1rem;
    /*display: flex;*/
    /*position: absolute;
    text-decoration: none;*/
}
.logo img{
    height: 5rem;
    margin-right: 1rem;
}

/*Barra de busqueda*/
.buscar{
    position: relative;    
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.buscar input{
    margin-top: 1rem;
    width: 45rem;
    height: 4rem;
    padding: 0 2rem;
    font-size: 1.8rem;
    color: #000;
    outline: none;
    border: 0.1rem solid silver;
    border-radius: 3rem;
    transition: all 0.6s ease;
}

.boton{
    margin-top: 0.8rem;
    position: absolute;
    right: 0%;
    top: 0%;        
    background: var(--botones);
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 768px) { /*Para Tablet*/
    .buscar input{
        width: 35rem;
        height: 40px;
        padding: 0 2rem;
        font-size: 1.8rem;
        color: #000;
        outline: none;
        border: 1px solid silver;
        border-radius: 3rem;
        transition: all 0.6s ease;
    }
    
}

@media (max-width: 480px) { /*Para Movil*/
    .buscar input{
        width: 20rem;
        height: 40px;
        padding: 0 2rem;
        font-size: 1.8rem;
        color: #000;
        outline: none;
        border: 1px solid silver;
        border-radius: 3rem;
        transition: all 0.6s ease;
    }
}
/*fin de barra de busqueda*/
/*diseño visual del boton carrito*/
.carrito{
    margin-right: 1rem;
    font-size: 3rem;
    color: white;
}

/* fin del carrito*/
/* Menu de navegacion */

.nav-bg{
    background-color: var(--morado);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;    
    margin: 0rem auto;
}
.navegacion-principal a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

@media (min-width: 480px) { /* 480PX MOVILES, 768PX tablets 1140px laptops, 1400px pantallas*/
    .navegacion-principal{
        flex-direction: row;        
        justify-content: space-evenly;
    }
}

/*fin de botones de navegacion*/

.navegacion-principal a:hover{
    background-color: var(--rosa);
    color: #000;
}

/*Para contenedores*/

.contenedor{
    width: 98%;
    margin: 2rem auto;
}
/*Aqui se mostraran los productos principales del catalogo*/
#box #box-heading{
    text-align: left;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    border: 1px solid #ff00dd;
    background: var(--azul);
    color: #fff;
    padding: 8px 0 6px 10px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1em;
}

.box-content{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media screen and (max-width: 768px) { 
    .box-content{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 468px) { 
    .box-content{
        display: grid;
        grid-template-columns: repeat(1,3fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.card img{
    height: 20rem;    
    width: 20rem;
}
/*Fin de la visualizacion del catalogo*/
/*Fin contenedores*/

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -mozbox-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48  );
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}


.producto:hover{
    background: var(--rosa);    
    color: #000;
}

/* Foooter */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--purpura);
    color: white;
    padding-top: 5rem;
}

/*Apartado de contacto*/
.formulario{
    background-color: var(--gris);
    width: min( 60rem, 100% ); /*min utiliza el valor mas pequeño*/
    margin: 5rem auto; /* Se utiliza cuando su padre no es un display flex*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--purpura);
}

@media (min-width: 768px) { 
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}


.boton-formulario{
    display: flex;
    align-items: flex-end;
    background-color: var(--botones);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    color: white;
    width: 90%;
    text-align: center;
    border: none;
}

@media (max-width: 480px) { 
    .boton-formulario{
        width: auto;
    }
}

.boton-formulario:hover {
    cursor: pointer;
}



/* Apartado de Loggin*/
.formulario-login{
    max-width: 50rem;
    margin: 3rem auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario-login h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario-login form{
    padding: 0  40px;
    box-sizing: border-box;    
}

form .username{
    position: relative;
    margin-bottom: 2rem;
    border-bottom: 2px solid #adadad;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    transition: all 0.6s ease;
    color: #6C3483;
}

.username input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: purple;
    transition: 5s;
}

.registrarse{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

.quienes-somos{
    padding: 3rem;
    padding-bottom: 6.2rem;
}