@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /*background: #34ad56;*/
    min-height: 100vh;
    background: linear-gradient(to bottom, #00a2ff, #ff00cc);
    /*display: flex;        */
    /*align-items: center;*/
    /*justify-content: center;*/
}   

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#header-crud{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: purple;*/
    border-radius: 100px;    
}

.form-products{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.inputs{
    width: 45rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

textarea{
    height: 10rem;
    text-align: left;
}

.products-table{
    display: flex;
    justify-content: center;
    background:rgba(255, 255, 255, 0.6);
    width: 70rem;        
    border-radius: 10px;
    position: relative;
    padding: 2rem;
}

.products-view{
    background-color:white;
    border-collapse: collapse;
    width: 70rem;
    border-radius: 10px;
    position: relative;
    
}

.products-view th{
    padding: 1rem;
}

.products-view td{
    padding: 1rem;
}

.products-view tr:nth-child(even){
    background-color: #ddd;
}

.products-view tr:hover td{
    background-color: #a474d4;
    color: white;
}

.products-view thead{
    background-color: #440088;
    color: white;
    border-bottom: solid 5px;
    
}

.boton-save{
    display: flex;
    align-items: flex-end;
    background-color: #440088;
    padding: 1rem 3rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer; 
    transition: all 0.6s ease;   
}

.boton-save:hover{
    background-color: #bb92e4;
    
}

.botones{
    display: flex;
    flex-direction: row;
}

.boton-edit{
    background-color: #34ad5e;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 1rem;
}

.boton-delete{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

/*
.login-card{
    width: 450px;
    background: rgba(255, 255, 255, 0.6);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.login-card::before{
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.login-card-logo{
    margin-bottom: 2rem;
}

.login-card-logo img{
    width: 60px;
}

.login-card-logo,
.login-card-header,
.login-card-footer{
    text-align: center;
}
 
.login-card a{
    text-decoration: none;
    color: #35339a;    
}

.login-card a:hover{
    text-decoration: underline;
}

.login-card-header{
    margin-bottom: 2rem;
}

.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.login-card-header h1 + div{
    font-size: calc(1rem * 0.8);
    opacity: 0.8;
}

.login-card-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item{
    position: relative;
    /*margin-bottom: .5rem;
}
*/
/*
.login-card-form .form-item .form-item-icon{
    position: absolute;
    top: 0.82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: 0.4;
}

.login-card-form .checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * 0.8);
    margin-bottom: 0.5rem;
}

.login-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem * 0.8);
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"]{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem *3.5);
    border-radius: 100px;
    width: 100%;
    transition: background 0.5s;
}

.login-card input:focus{
    background: white;
}

.login-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

.login-card-form button{
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background 0.5s;
}

.login-card-form button:hover{
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

.login-card-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.login-card-social > div{
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * 0.8);
}

.login-card-social-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-card-social-btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    transition: all 0.5s;   
}

.login-card-social-btns a:hover{
    background: white;
    transform: scale(1.1);
}

/* Resposive */
/*
@media (max-width: 768px) { 
    body{
        padding: 2rem 0;
    }

    .login-card{
        width: 300px;
        padding: 2rem;
    }
}
*/